.profile {
  padding: 0 10px 10px;
  &__bg-img {
    margin: 0 -10px;
    img {
      width: 100%;
      height: 250px;
      object-fit: cover;
    }
  }
}

.profile-info {
  background: #fff;
  display: flex;
  align-items: center;
  margin-top: 20px;
  padding: 20px;
  color: #000;
  &__avatar {
    width: 150px;
    height: 150px;
    position: relative;
    img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  &__content {
    margin-left: 30px;
  }
  &__name {
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 5px;
  }
  &__aboutme {
    margin-bottom: 15px;
  }
  &__status {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex: 1 1 auto;
    font-size: 22px;
    font-weight: 400;
    div {
      margin-right: 20px;
    }
    span {
      margin-top: 5px;
      font-weight: 500;
      max-width: 300px;
    }
  }
  &__contacts {}
  &__contact {
    margin-bottom: 4px;
  }
}

.profile-posts {
  margin-top: 100px;
  &__title {
    font-size: 25px;
  }
  &__form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  &__input {
    width: 100%;
    padding: 20px;
    padding-bottom: 30px;
  }
  &__btn {
    background: #318bbe;
    padding: 10px 20px;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    margin-top: 20px;
  }
  &__wrapper {
    margin-top: 50px;
  }
}

.profile-post {
  background: #fff;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  border-radius: 30px;
  padding: 15px;
  &__img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  &__content {
    margin-left: 30px;
    font-size: 25px;
  }
}