.wrapper {
  max-width: 1400px;
  margin: 0px auto;
  display: grid;
  grid-template-rows: 100px auto;
  grid-template-columns: 2fr 10fr;
  grid-template-areas:
          "header header"
          "nav content"
;
  gap: 20px;
}

.content {
  grid-area: content;
  border: 1px solid rgba(0, 0, 0, 0.157);
  background: rgb(221, 221, 221);
}